<h1>Formulario</h1>
<form (ngSubmit)="onRegister()" #myForm="ngForm">
  <div>
    <label for="name">Nombre</label>
    <input type="text" name="name" required #nameInput="ngModel" id="name" [(ngModel)]="person.name">
    <p>Valid: {{ nameInput.valid }}</p>
  </div>
  <div>
    <label for="lastName">Apellido</label>
    <input type="text" required #lastNameInput="ngModel" name="lastName" id="lastName" [(ngModel)]="person.lastName">
    <p>Valid: {{ lastNameInput.valid }}</p>
  </div>
  <div>
    <label for="age">Edad</label>
    <input type="number" max="18" min="10" required #ageInput="ngModel" name="age" id="age" [(ngModel)]="person.age">
    <p>Valid: {{ ageInput.valid }}</p>
  </div>
  <button type="submit" [disabled]="myForm.invalid">Registrar</button>
</form>

